Backend/Inputs/SX1000i/sx000i_4-0_project_specific_exchanges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.asd-europe.org/s-series/sx000i" targetNamespace="http://www.asd-europe.org/s-series/sx000i" version = "004-00">
<!-- ________________________________________________________________________________________________________________ -->
<xsd:annotation>
   <xsd:documentation>Specification: </xsd:documentation>
   <xsd:documentation>Issue number: 4.0</xsd:documentation>
   <xsd:documentation>Issue date: 2024-09-10</xsd:documentation>
   <xsd:documentation>Data model file: SX000i_4-0_Data_model_002-00.eap</xsd:documentation>
   <xsd:documentation>XML schema release number: 004-00</xsd:documentation>
   <xsd:documentation>XML schema release date: 2025-12-10</xsd:documentation>
   <xsd:documentation>URL: http://www.sx000i.org</xsd:documentation>
   <xsd:documentation>XSD generator version: DMEWG_GEN_2-0_002-56</xsd:documentation>
      <xsd:documentation>Copyright:
         Copyright (c) 2016-2025 by AeroSpace, Security and Defence Industries Association of Europe (ASD).
         
         Limitations of Liability:
         
         1. This material is provided 'As Is' and neither ASD nor any person who has contributed to the creation, revision or maintenance of
            the material makes any representations or warranties, express or implied, including but not limited to, warranties of
            merchantability or fitness for any particular purpose.
         2. Neither ASD nor any person who has contributed to the creation, revision or maintenance of this material shall be liable for any
            direct, indirect, special or consequential damages or any other liability arising from any use of this material.
         3. Revisions to this document may occur after its issuance. The user is responsible for determining if revisions to the material
            contained in this document have occurred and are applicable.
         
      </xsd:documentation>
   </xsd:annotation>

<!-- ________________________________________________________________________________________________________________ -->
   <xsd:group name="messageContentProjectSpecificExchanges">
      <xsd:annotation>
         <xsd:appinfo>
            <source>SX001G:MessageContentNonAbstractClasses</source>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:choice>
         <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
         <!-- Allowed project-specific messages, in any desired order                        -->
         <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
         <!--
         Use the following format for each individual generated project-specific message:
         <xsd:element name="@psIdent" type="@psName"/>
         
         WHERE:
         - '@psIdent' is a project or company-specific code or identifier.
         - '@psName' refers to the actual project-specific message name,
         
         EXAMPLE:
         <xsd:element name="MyCompanyUseCaseCode" type="MySpecialProprietaryDataExchange"/>
         <xsd:element name="AB_A400M_uc17" type="report_aircraft_flight_data"/>
         
         IMPORTANT:
         The 'psName' complexType MUST be defined in the project_specific_exchange_definitions XSD file.
         
         NOTE: Make sure that you do not use one of the specification names or identifiers!
      -->
   </xsd:choice>
</xsd:group>
</xsd:schema>
